/* @import url('http://yeehaw.herokuapp.com/assets/application-c865f622762f5e1b6ee7243797d562e2fa5d15a16a3e0bd44a6ebabcc41b3f80.css'); */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  /* html, body {
    height: 100%;
}
body {
    margin: 0;
    
    
    background-position: center;
    background-size: cover;
    -webkit-background-blend-mode: overlay;
    -moz-background-blend-mode: overlay;
    background-blend-mode: overlay;

    color: #092327;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
} */

.wrapper {
    background: #00A9A5;
    background: -webkit-linear-gradient(top left, #00A9A5 0%, #0B5351 100%);
    background: linear-gradient(to bottom right, #00A9A5 0%, #0B5351 100%);
    height: 100%;
    left: 0;
    margin-bottom: -50px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -4;
}

.wrapper .home-slogan {
    padding-left: 8%;
    padding-top: 3%;
    font-size: 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}

.home-slogan {
    position: relative;
    top: 10%;
    z-index: -3;
}

.bg-bubbles {
    z-index: -1;
}

.container {
    position: relative;
    top: 25%;
}

.home-slogan {
    clear: both;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    margin-top: 150px;
    padding: 15px;
    position: relative;
    z-index: 2;
}

.bg-bubbles {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


.bg-bubbles li:nth-child(1) {
    left: 10%;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    bottom: -10px;
    -webkit-animation: avatars 25s infinite;
    animation: avatars 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.bg-bubbles {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}
.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    bottom: -10px;
    -webkit-animation: avatars 25s infinite;
    animation: avatars 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
.bg-bubbles li:nth-child(1) {
    left: 10%
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    -webkit-animation-duration: 22s;
    animation-duration: 22s
}
.bg-bubbles li:nth-child(5) {
    left: 70%
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}
.bg-bubbles li:nth-child(7) {
    left: 32%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s
}
.bg-bubbles li:nth-child(10) {
    left: 90%;
    -webkit-animation-delay: 11s;
    animation-delay: 11s
}
@-webkit-keyframes avatars {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-1000px) rotate(600deg);
        transform: translateY(-1000px) rotate(600deg)
    }
}
@keyframes avatars {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-1000px) rotate(600deg);
        transform: translateY(-1000px) rotate(600deg)
    }
}