

#navbar {
    position: relative;
    top: 10px;
    left: 1px;
    right: 10px;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgb(88, 179, 179);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#navbar li {
    position: relative;
    float: left;
    line-height: 60px;
    background: inherit;
    text-align: center;
    transition: all .2s;
    font-size: 23px;
}

#navbar li a {
    position: relative;
    display: block;
    padding: 0 20px;
    line-height: inherit;
    color: white;
    text-decoration: none;
}

#navbar li:not(:first-child):hover:before {
    margin-top: 1px;
    
    transition: all .1s, background .2s, margin-top .2s cubic-bezier(.5,30,.2,0);
}
#navbar li:not(:first-child):hover,
#navbar li:not(:first-child):hover:before {
    background: #3a3a3a;
}
#navbar li.active,
#navbar li.active:before {
    background: #3a3a3a;
}

#Home, #WhoChat {
    float: left;
}

#navbar #Login, #navbar #LogOut, #navbar #Peek {
    float: right;
}


#navbar img {
    position: relative;
    bottom: 15px;
}

@media screen and (max-width: 600px) {
    #navbar img {
        display: none;
    }

    #Home, #WhoChat {
        width: 100%;
    }
    
    #navbar #Login, #navbar #LogOut, #navbar #Peek {
        width: 100%;
    }
}