<ul id="navbar">
  <a class="navbar-brand">
          <!-- <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/302770-200.png" width="70" height="48" alt=""> -->
          <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/302770-200.png" width="100" height="85" alt="">
  </a>
  <li class="active" id="WhoChat" ><a routerLink="/home" *ngIf="auth.isAuthenticated()">WhoChat</a></li>
  <li id="LogOut"><a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log Out</a></li>
  <li id="Peek"><a routerLink="/tags" *ngIf="auth.isAuthenticated()">Tags</a></li>
  <li id="Peek"><a routerLink="/feed" *ngIf="auth.isAuthenticated()">Feed</a></li>
  <li class="active" id="Home" ><a routerLink="/home" *ngIf="!auth.isAuthenticated()">Home</a></li>
  
  
  <li id="Login"><a *ngIf="!auth.isAuthenticated()" (click)="auth.login()" >Login</a></li>
  
</ul>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>